@font-face {
  font-family: minecraftia;
  src: url(Minecraftia-Regular.ttf);
}

html {
  background: rgb(58, 58, 58);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

#json-container {
  margin-top: 5%;
  margin-left: 5%;
}

.key {
  color: rgb(171, 206, 247);
}

.boolean {
  color:rgb(216, 156, 83);
  cursor: pointer;
}

.string {
  color:rgb(153, 235, 215);
  cursor: pointer;
}

a {
  color: rgb(249, 132, 190);
  text-decoration: none;
  overflow-wrap: break-word;
}

span {
  font-family: minecraftia;
  font-size: 20px;
}

@media only screen and (min-width: 500px) and (max-width: 850px) {
  span {
    font-size: 14px;
  }
}

@media only screen and (max-width: 500px) {
  span {
    font-size: 12px;
  }
}