@font-face {
  font-family: minecraftia;
  src: url(Minecraftia-Regular.ttf);
}

html {
  background: url(shooting_stars.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

#json-container {
  margin-top: 5%;
  margin-left: 5%;
}

a {
  color: hotpink;
  text-decoration: none;
  overflow-wrap: break-word;
}

.hoverable {
  cursor: pointer;
}

span {
  font-family: minecraftia;
  font-size: 20px;
}

@media only screen and (min-width: 500px) and (max-width: 850px) {
  span {
    font-size: 14px;
  }
}

@media only screen and (max-width: 500px) {
  span {
    font-size: 12px;
  }
}