body {
  background-color: #a7a7a7;
}


#content{
  font-size: xxx-large;
  text-align: left;
  width: 60%;
  font-family: 'Roboto Mono', monospace;
}

.json-button {
  font-size: xx-large;
  padding: 0;
  border: none;
  background: none;
  color: #4f3072;
}

.clickable{
  display: block;
}

.container {
  display: flex;
  justify-content: center;
}

.container div{
  padding: 10px;
}

