body {
  background-color: #808080;
}


#content{
  font-size: 40px;
  font-family: 'Roboto Mono', monospace;
}

.container-1 {
  display: flex;
}

.container-1 div{
  border: 1px #ccc solid;
  padding: 10px;
}

.box-1 {
  flex: 1;
}

.box-2 {
  flex: 5;
}

.box-3 {
  flex: 1;
}